.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  position:absolute;
  top:0;
  left:0;
  background-image: url('./imgs/computerBG.png');
  width:100%;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
/* Login starts here */
.loginContainer{
  margin-top:20%;
  margin-left:25%;
  display:flex;
  flex-direction:column;
  width:50%;
 
}

.loginContainer button{
  border-radius:15px;
  margin:15px;
  background-color:#73c39e;
  color:white;
  font-size:24px;

}
.buttonBox{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.loading{
  margin-top:20%;
  font-size:3rem;
}
/* Login stops here  */

/* Home starts here  */
.homeContainer{

  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top:200px;
  

}
.nav{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  font-size: 1.2rem;
  
  
  
}
.navBar li{
list-style-type: none;
margin-right:20px;
}
.homeContainer h1{
 
  font-size: 2.2rem;;
}
/* Home stops here  */

/* Signup starts here  */
.signupContainer{
  margin-top:20%;
}
.formInput{
  margin-bottom:15px;
}

.signupContainer button{
  border-radius:15px;
}
.signupForm label{
  margin-right:10px;
}
/* Signup stops here  */

/* Head starts here */
.nav{
  width:100%;
  height:100px;
  /* background-color:black; */
  /* color:white; */
  position: absolute;
  top:0;
  left:0%;
  font-size:1.5rem;
 


}
.nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-between;

}
.nav ul li{
  list-style-type:none;
}
.nav ul a:link{
  color:white;
}
.nav ul a:visited{
  color:#f8d073;
}
.nav ul a:hover{
  color:#73c39e;
}
.nav ul a:active{
  color:#a49fce;
}
/* Header stops here */

/* Affirmation start */
.affirm{
  /* background-color:#f8d073; */
  padding:30px;
  margin-top:100px;
  color:white;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  margin-bottom:250px;
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:1.3rem;
  font-family: 'Architects Daughter', cursive;
}
.affirm .affirmWords{
  margin-top:200px;
}
.affirm .imgBox{
  width:35%;
  align-self: flex-start;
}
.affirm .affImg{
  width:100%;
}
/* Affirmation stops here  */

/* Assignment starts here  */
.container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color:#73c39e;
  padding-top:100px;
  height:100%;
}
.assignmentContainer{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:#73c39e;
  height:100%;
  padding:130px;
  margin-top:100px;
  
}

.assignCard{
  width:300px;
  background-color:#a089e4;
  margin:20px;
  border-radius:30px;
  color:white;
  padding:30px;
  height:400px;
}

.assignImgBox{
  width:80%;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
}
.assignImg{
  width:80%;
}

.assignCard h1{
  margin-top:0;
}

.completeCheck{
  height:33px;
  width:33px;
}

/* .checkBoxBox{

} */

/* Assignment ends here */

/* Administrative starts here  */
.adminContainer{
  width:100%;
  height:100%;
}
.adminList{
  width:40%;
  margin-right:auto;
  margin-left:auto;
  margin-top:300px;
  font-size:1.5rem;
}
/* Administrative ends here */